@use '../utils/' as *;
@use '../base/' as *;

.testimonial {
    &--section {
        padding: 40px 0;
    }

    &__cards {
        column-count: 1;

        @include media-query(breakpoint-md) {
            column-count: 2;
            column-gap: 24px;
        }
		@include media-query(breakpoint-xxl){
			column-count: 3;
            column-gap: 30px;
		}
    }
    & .card {
        margin-bottom: 16px;

        @include media-query(breakpoint-md) {
            margin-bottom: 24px;
        }
        @include media-query(breakpoint-xxl) {
            margin-bottom: 30px;
        }
        @include media-query(breakpoint-xxl-2) {
            margin-bottom: 50px;
        }
    }
}
